<div class="container-fluid">
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/id/1/200/300"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Lorem ipsum</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/id/2/200/300"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Lorem ipsum</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/id/3/200/300"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Lorem ipsum</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/id/4/200/300"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Lorem ipsum</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/id/5/200/300"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Lorem ipsum</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/id/6/200/300"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Lorem ipsum</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
</div>
